@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap");

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffecea;
}

body {
  min-width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  display: flex;
}

h1 {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Poppins", sans-serif;
  font-size: 2.6rem;
  padding-top: 0.5rem;
  margin: 0;
}

nav {
  display: block;
  position: absolute;
  width: 100%;
}

.logo {
  width: 13rem;
  padding: 1rem;
}

.background-img {
  display: block;
  width: 40%;
}
.content {
  display: block;
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  padding: 0 27rem;
  line-height: 1.65rem;
  text-align: center;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

@media only screen and (max-width: 1400px) {
  .background-img {
    width: 50%;
  }

  p {
    padding: 0 18rem;
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2.1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .background-img {
    width: 50%;
  }

  p {
    padding: 0 14rem;
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 912px) {
  .background-img {
    width: 60%;
  }

  p {
    padding: 0 7rem;
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 915px) and (max-height: 600px) and (orientation: landscape) {
  .background-img {
    width: 35%;
  }

  p {
    padding: 0 13rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  h1 {
    font-size: 1rem;
  }

  .logo {
    width: 15%;
  }
}

@media only screen and (max-width: 768px) {
  .background-img {
    width: 70%;
  }

  p {
    padding: 0 4rem;
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .background-img {
    width: 35%;
  }

  p {
    padding: 0 13rem;
    font-size: 0.7rem;
    line-height: 1.1rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .logo {
    width: 15%;
  }
}

@media only screen and (max-width: 768px) and (max-height: 280px) and (orientation: landscape) {
  .background-img {
    width: 25%;
  }

  p {
    padding: 0 13rem;
    font-size: 0.6rem;
    line-height: 0.9rem;
  }

  h1 {
    font-size: 1rem;
  }

  .logo {
    width: 10%;
  }
}

@media only screen and (max-width: 576px) {
  .background-img {
    width: 80%;
  }

  p {
    padding: 0 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .logo {
    width: 40%;
  }
}

@media only screen and (max-width: 576px) and (orientation: landscape) {
  .background-img {
    width: 30%;
  }

  p {
    padding: 0 13rem;
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .logo {
    width: 15%;
  }
}

@media only screen and (max-width: 375px) {
  .background-img {
    width: 80%;
  }

  p {
    padding: 0 3rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  .logo {
    width: 40%;
    padding: 0.7rem;
  }
}

@media only screen and (max-width: 375px) and (orientation: landscape) {
  .background-img {
    width: 30%;
  }

  p {
    padding: 0 13rem;
    font-size: 0.7rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .logo {
    width: 15%;
  }
}
