[Unit]
Description=Publiq Platform API PHP Horizon service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
User=www-data
Group=www-data
EnvironmentFile=-/etc/default/platform-api-horizon
WorkingDirectory=/var/www/platform-api
ExecStart=/usr/bin/php artisan horizon
TimeoutStopSec=5s
Restart=always
RestartSec=10s
Type=simple

[Install]
WantedBy=multi-user.target
